#### Table of the content

1. [Boolean Data Types](#1)
2. [Boolean Arithmetic](#2)
3. [Type Conversion Using bool() Function](#3)
4. [Boolean Operators](#4)
    1. [Comparison Operators](#4-1)
    2. [Membership Operators](#4-2)
    3. [Logical Operators](#4-3)
    4. [Do it yourself](#4-4)
    5. [Parentheses](#4-5)
5. [More Info (Follow Me on LinkedIn)](#end)

<a name="1"></a>
## ‚Ä¢ Boolean Data Types

üî∏ There are two possible values for boolean data type ‚Üí **True** / **False**

In [1]:
# 1.1. Create two different vairable and assigne them True & False

true =  True
false = False

# 1.1.1. print their value as well as their type
print(true, false, type(true), type(false))

True False <class 'bool'> <class 'bool'>

<a name="2"></a>
## ‚Ä¢ Boolean Arithmetic

üî∏ **True** is equal to **1** in arithmetic operations.


üî∏ **False** is equal to **0** in arithmetic operations.

In [2]:
# 2.1. Multiply 7 by True

7 * True

7

In [3]:
# 2.2 Multiply 7 by False

7 * False

0

In [4]:
# 2.3 'not' keyword inverts the boolean values
# 2.3.1. use 'not' with 'True' and run your code!

not True

False

<a name="3"></a>
## ‚Ä¢ Type Conversion Using bool( ) Function

üî∏ You can use `bool( )` function to move from one data type to boolean data types

In [5]:
# 2.1. Use bool() function  with integers ‚Üí 0, 1, 100

print(bool(0))
print(bool(1))
print(bool(100))

False
True
True

In [6]:
# 2.2. Use bool() function with strings ‚Üí '', ' ', 'Hello'

print(bool(''))  # an empty string 
print(bool(' '))
print(bool('Hello'))

False
True
True

In [7]:
# 2.3. Use bool() function with lists ‚Üí [], [0], [1, 2, 3]

print(bool([]))  # an empty list
print(bool([0]))
print(bool([1, 2, 3]))

False
True
True

In [8]:
# 2.4. Use bool() functoin with None 

print(bool(None))

False

üéØ Now you can guess what's happening with bool() function! 

**‚Ä¢ Most values are True**

1. Almost any value is evaluated to **True** if it has some sort of content!

2. Any string is **True**, except `empty string1`. 

3. Any number is **True**, except `0`. 

4. Any list, tuple, set, and dictionary are **True**, except `empty ones`. 


üëâüèº In fact, there are not many values that evaluate to False, except empty values, such as `()`, `[]`, `{}`, `""`, the number `0`, and the value `None`.

---
<a name="4"></a>
## ‚Ä¢ Boolean Operators

üî∏ There are quite useful operators in Python which produce `boolean` result (True/False)

- Comparison operators ‚Üí  *== != > < >= <=* 
- Membership operators ‚Üí  *in* *not in*
- Logical operators ‚Üí  *and* *or*

---

<a name="4-1"></a>
### ¬∞ Comparison Operators

üî∏ There are some operators by which we're able to *compare* different object within Python.

In [9]:
# 3.1. Compare 'Python' & 'Python' with proper comparison operator

'Python' == 'Python'

True

In [10]:
# 3.2. Is 'Python' & 'python' identical? 

'Python' == 'python'

False

In [11]:
# 3.3. For matching words we can always use lower() method 

'Python'.lower() == 'python'

True

In [12]:
# 3.4. Use inequality operator to check not being equal for 'Python' & 'PYTHON'

'Python' != 'PYTHON'

True

In [13]:
# 3.5. Compare the length of the two string below
# 3.5.1. 'hello' & 'goodbye' 
# 3.6.1. 5 > 7 ‚Üí False

len('Hello') > len('Goodbye')

False

<a name="4-2"></a>
### ¬∞ Membership Operators

üî∏ **Membership operators** check if a *value* exitst inside of an *iterable*.

- `in` and `not in` are reserved keywords in Python to check if a value *exists* or *doesn't exist* in an iterable.

In [14]:
# 4.1. Check if 'he' is in 'hello'

'he' in 'hello'

True

In [15]:
# 4.2. Check if 'March' is in date
date = '24-March-2024'

# 4.2.1 Check here
'March' in date

True

In [16]:
# 4.3. Check if '24' is in date

'24' in date

True

In [17]:
# 4.4. Check if 'July' is in date

'July' in date

False

In [18]:
# 4.5. Use 'not in' to check if 'July' is not in date

'July' not in date

True

In [19]:
# 4.6. Use 'in' to check if 7 exists inside my_list
my_list = [0, 7, 14]

# 4.6.1. Check here
7 in my_list

True

<a name="4-3"></a>
### ¬∞ Logical Operators

üî∏ **Logical operators** combine multiple *comparison expressios*

- `and` and `or` are reserved keywords for this purpose

In [20]:
# 5.0. My variables
date = '24-March-2024'
item = 'Boots'
my_list = [0, 7, 14]

In [21]:
# 5.1. Check if 'March' is in date & item equals 'Sunglasses'
# NOTE: You need an operator to combine to expressions!

'March' in date and item == 'Sunglasses'

False

### ¬∞ I can prove short circuiting exists!

In [22]:
# 5.2. Short circuiting for 'and' & 'or'
# 5.2.1. and ‚Üí first expression ‚Üí False ‚Üí ignore the rest
# 5.2.2. or ‚Üí first expression ‚Üí True ‚Üí ignore the rest

'March' in date or something > 5

True

üî∏ In the above cell, I used an **undefined variable name**-something- to prove short circuiting exists beneath Python boolean operations. As you might have been guessed because the first expressions in

```python 
'March' in date
``` 
got evaluated to **True**, Python will *ignore the rest of the expression* so even if I have an undefined variable name but I *didn't get NameError*!

<a name="4-4"></a>
### üí™üèº Do it yourself

üî∏ Change the code below and use short circuiting principle to avoid facing *NameError*

In [28]:
# Think about it -> produces False
'March' not in date  and  a_number > 100

False

<a name="4-5"></a>
### ¬∞ Parentheses 

üî∏ To control the order of Boolean operations, you can use **parentheses** with True/False expressions!

In [24]:
# Use parentheses to control the order of Boolean operations!

7 in my_list or ('24' in date and '2025' in date)

True

In [25]:
# Use parentheseto control the order of Boolean operations!

(7 in my_list or '24' in date) and '2025' in date

False

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/) follow me and [izlearn](https://www.linkedin.com/company/izlearn) on the LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)