## Total Cost of European Items

üôãüèΩ‚Äç‚ôÇÔ∏è **Hi there!**

üî∏ This is [Mohsen](https://linkedin.com/in/mohsen-abbasi) talking.

üî∏ Can you just help me to calculate the **total cost of the European items**? 

üí° It would be nice if we could calculate it in **one single line**.

In [1]:
item_ids = [10001, 10002, 10003, 10004,
            10005, 10006, 10007, 10008,
            10009]

item_names = [
    'Shirt',
    'Jeans',
    'Tie',
    'Skirt',
    'Belt',
    'Boots',
    'Scarf',
    'Dress',
    'Flip-flops'
]

euro_prices = [23.99, 39.99, 5.99,
               19.99, 2.99, 49.99,
               2.99, 69.99, 9.99]

item_category = [
    'clothing',
    'clothing',
    'accessory',
    'clothing',
    'accessory',
    'clothing',
    'accessory',
    'clothing',
    'clothing'
]

sizes = [
    ['s', 'm', 'l'],
    ['s', 'm', 'l', 'xl'],
    ['child', 'adult'],
    ['free size'],
    ['child', 'adult'],
    [35, 36, 37, 38, 39, 40],
    ['child', 'adult'],
    ['s', 'm', 'l'],
    [35, 36, 39, 40]

]

üëáüèº This is [dictionary comprehension](https://www.geeksforgeeks.org/python-dictionary-comprehension/) and we see example of it **after this assignment**.

In [2]:
euro_data = {
    item_id:[name, price, category, sizes]
    for item_id, name, price, category, sizes in zip(
    item_ids, item_names, euro_prices, item_category, sizes
    )
}

In [3]:
euro_data

{10001: ['Shirt', 23.99, 'clothing', ['s', 'm', 'l']],
 10002: ['Jeans', 39.99, 'clothing', ['s', 'm', 'l', 'xl']],
 10003: ['Tie', 5.99, 'accessory', ['child', 'adult']],
 10004: ['Skirt', 19.99, 'clothing', ['free size']],
 10005: ['Belt', 2.99, 'accessory', ['child', 'adult']],
 10006: ['Boots', 49.99, 'clothing', [35, 36, 37, 38, 39, 40]],
 10007: ['Scarf', 2.99, 'accessory', ['child', 'adult']],
 10008: ['Dress', 69.99, 'clothing', ['s', 'm', 'l']],
 10009: ['Flip-flops', 9.99, 'clothing', [35, 36, 39, 40]]}

### Calculate the Total Cost of Items

üî∏ Calculate the amount, it would cost to purchase **all the items** in **euro_data**

üî∏ Use **list comprehension** to collect them into a list.

In [10]:
costs_list = [item[1] for item in euro_data.values()]

In [11]:
costs_list

[23.99, 39.99, 5.99, 19.99, 2.99, 49.99, 2.99, 69.99, 9.99]

In [13]:
round(sum(costs_list), 2)

225.91

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)