#### Table of the content

1. [Dynamic Message!](#0)
2. [format( ) method](#1)
3. [f-string](#2)
10. [More Info (Follow Me on LinkedIn)](#end)

---
<a name="0"></a>

## ‚Ä¢ Dynamic Message!

üî∏ In Python there are a couple of ways to show **dynamic** messages. These dynamic messages change whenever the inner values change!

‚úî If you run the cell below you'll encounter **an error**! because you're not allowed to concatenate strings with other types of data types together!

In [1]:
product = 'Brown Belt'
price = 8.0

message1 = product + ' price is ' + price + ' euros'

TypeError: can only concatenate str (not "float") to str

In [2]:
message1

NameError: name 'message1' is not defined

### Type Conversion

üî∏ To solve the previous TypeError we can convert the price type to the string and then concatenate all string together.

In [7]:
product = 'Black Cap'
price = 10.0

message2 = product + ' price is ' + str(price) + ' euros'

In [8]:
message2

'Black Cap price is 10.0 euros'

### print(  ) Function

üî∏ Another way is using **print( )** function with **multiple commas**.

In [10]:
product = 'Black Cap'
price = 10.0

print(product, 'price is', price, 'euros')

Black Cap price is 10.0 euros

<a name='1'></a>
### .format( ) Method

üî∏ Another better option is using **.format( )** method

In [20]:
product = 'Black Cap'
price = 10.0

message3 = '{} price is {} euros'.format(product, price)

In [21]:
message3

'Black Cap price is 10.0 euros'

<a name='2'></a>
### f-string 

üî∏ The best option is using **f-string** in Python to create your custom dynamic message.

**Note:** To use f-string your Python version should be 3.6 and above!

In [15]:
product = 'Brown Belt'
price = 8.0
message4 = f'{product} price is {price} euros'

In [16]:
message4

'Brown Belt price is 8.0 euros'

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)