#### ‚Ä¢ Table of the content

1. [String Definition](#1)
2. [Difference Between Single Quotes & Double Quotes](#1-1)
3. [Escape Character](#1-2)
4. [Triple Quotes](#1-3)
5. [String Arithemtic](#1-4)
6. [More Info (Follow Me on LinkedIn)](#end)
---

<a name="1"></a>
## ‚Ä¢ String Definition

üî∏ We just saw that there are **3 ways** to create strings. `(1.single quotes / 2.double quotes / 3. triple quotes)` Generally speaking there is no difference between single quotes and double quotes.

In [2]:
# 1.1. Create a string using single quotes ‚Üí ''
product_name = 'Black Shoes'

product_name, type(product_name)

('Black Shoes', str)

In [3]:
# 1.2. But if I use print() ‚Üí it removes quotations!

print(product_name)

Black Shoes

In [5]:
# 1.3. Create a string using double quotes ‚Üí ""
product_name = "Black Shoes"

product_name, type(product_name)

('Black Shoes', str)

<a name="1-1"></a>
### ‚Ä¢ Difference Between Single Quoutes & Double Quotes

üî∏ But sometimes it's important to use which of them `''` or `""`. When your string includes `'` you have to use `"` or get an **invalid syntax error**. And similarly you have to use `'` when your string has `"` inside.

In [6]:
# 2.1. Sometime it's important to use  ('' or "")
movie_name = 'I'm A Legend

movie_name

SyntaxError: invalid syntax (2551171471.py, line 2)

In [7]:
# 2.2. How to solve? -> use "" instead of ''
movie_name = "I'm A Legend"

movie_name

"I'm A Legend"

In [8]:
# 2.3. Sometimes it's important to use ('' or "")
text = "Robert Collier said:"success is the sum of small efforts.""

text

SyntaxError: invalid syntax (1316340138.py, line 2)

In [10]:
# 2.4. How to solve? -> use '' instead of ""
text = 'Robert Collier said:"success is the sum of small efforts.'

text

'Robert Collier said:"success is the sum of small efforts.'

<a name="1-2"></a>
### ‚Ä¢ Escape Character ‚Üí \

üî∏ Another solution is using \, **escape character**, to handle these situations. It actually says: Hey Python! ignore (escape) the special meaning of this character by now! I want you to treat it as plain text here!

In [11]:
# 3.1. Use escape character or \ 

movie_name = 'I\'m A Legend'
text = "Robert Collier said:\"success is the sum of small efforts.\""

print(movie_name)
print(text)

I'm A Legend
Robert Collier said:"success is the sum of small efforts."

<a name="1-3"></a>
### ‚Ä¢ Triple Quotes

üî∏ If your string has both single quote and double qoute within itself, then you can use **triple qoutes**.

In [12]:
# 4.1 Create a multiple-line string using  ‚Üí '''  ''' or """   """
long_text = '''
BOOM. They knocked again. Dudley jerked awake.
"Where's the cannon?" he said stupidly.
There was a crash behind them and Uncle Vernon
came skidding into the room. He was holding a rifle in
his hands ‚Äî now they knew what had been in the
long, thin package he had brought with them.
"Who's there?" he shouted. "I warn you ‚Äî I'm armed!"
There was a pause
'''

long_text

'\nBOOM. They knocked again. Dudley jerked awake.\n"Where\'s the cannon?" he said stupidly.\nThere was a crash behind them and Uncle Vernon\ncame skidding into the room. He was holding a rifle in\nhis hands ‚Äî now they knew what had been in the\nlong, thin package he had brought with them.\n"Who\'s there?" he shouted. "I warn you ‚Äî I\'m armed!"\nThere was a pause\n'

<div class="alert alert-info">
    
üî∏ <b>\n</b> means something especial in Python, it means go to the next line.<br>
üî∏ <b>\t</b> means something especial in Python, it means put 4 space or one tab.<br>
üî∏ These are called <b>special character</b> in Python programming.
    
 
</div>

You can get rid of those **\n** characters using **print( )** function.

In [13]:
# 4.2. Use print() function to handle thoses characters (\n & \t and ...)
print(long_text)

BOOM. They knocked again. Dudley jerked awake.
"Where's the cannon?" he said stupidly.
There was a crash behind them and Uncle Vernon
came skidding into the room. He was holding a rifle in
his hands ‚Äî now they knew what had been in the
long, thin package he had brought with them.
"Who's there?" he shouted. "I warn you ‚Äî I'm armed!"
There was a pause

In [14]:
# 4.3. Example of \n & \t
text_one = 'I used \nto go to the next line!'
text_two = 'I used \t to import four spaces after it!'

print(text_one)
print('')
print(text_two)

I used
to go to the next line!

I used 	 to import four spaces after it!

<a name="1-4"></a>
### ‚Ä¢ String Arithmetic 

* ‚ûï ‚Üí **to concatenate** or combine any number of strings together!
* ‚úñÔ∏è ‚Üí **to repeat** strings

In [17]:
# 5.1. Use string concatenation & string repeating 

movie_name = 'A Beautiful Mind'
your_comment = "It was fantastic"
score = 5

user_score = movie_name + ',' + your_comment + '.' 'My score is ' + '*' * score

In [18]:
print(user_score)

A Beautiful Mind,It was fantasict.My score is *****

In [24]:
words = ['a', 'b', 'c']
string = ''
for item in words:
    string += item
print(string)

abc

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)