#### ‚Ä¢ Table of the content

1. [enumerate function (REVIEW)](#1)
2. [A Simple Example](#2)
3. [enumerate() & Openpyxl](#3)
4. [More Info (Follow Me on LinkedIn)](#end)

---

<a name="1"></a>

## üî∞ enumerate function (REVIEW)

üî∏ `enumerate( )` is a built-in Python function that **simplifies iteration** by adding a **counter** to an <font style="color:blue;font-size:2rem;font-weight:bold;">iterable</font>.

<a name="2"></a>

### üî∞ A Simple Example

üî∏ Loop through the list of names defined here using **enumerate**.

In [1]:
names_list = ["Ahmad", "Salar", "Ali", "Mohsen"]
scores = [80, 95, 98, 100]

In [2]:
# 1.Use enumerate(iterable)
for index, name in enumerate(names_list):
    print(f"{index} -> {name}")

0 -> Ahmad -> 80
1 -> Salar -> 95
2 -> Ali -> 98
3 -> Mohsen -> 100

üî∏ You can change the **starting index** using `start=` in `enumerate()` function.

In [5]:
# 2.Use enumerate(iterable, start=?):
for index, name in enumerate(names_list, start=1):
    print(f"{index} -> {name}")

1 -> Ahmad
2 -> Salar
3 -> Ali
4 -> Mohsen

<a name="3"></a>

### üî∞ enumerate() and Openpyxl

In [6]:
import openpyxl as xl

In [7]:
workbook = xl.load_workbook('../../DATA/izshop_data.xlsx')

In [8]:
items = workbook["Items"]

üî∏ `work_sheet["column_name"]` returns all **cells objects** existing in that column in a **tuple** which is an iterable for `enumerate()` function.

In [11]:
items["C"]

(<Cell 'Items'.C1>,
 <Cell 'Items'.C2>,
 <Cell 'Items'.C3>,
 <Cell 'Items'.C4>,
 <Cell 'Items'.C5>,
 <Cell 'Items'.C6>,
 <Cell 'Items'.C7>,
 <Cell 'Items'.C8>,
 <Cell 'Items'.C9>,
 <Cell 'Items'.C10>,
 <Cell 'Items'.C11>,
 <Cell 'Items'.C12>,
 <Cell 'Items'.C13>,
 <Cell 'Items'.C14>,
 <Cell 'Items'.C15>,
 <Cell 'Items'.C16>,
 <Cell 'Items'.C17>,
 <Cell 'Items'.C18>,
 <Cell 'Items'.C19>,
 <Cell 'Items'.C20>)

In [15]:
# 3.Grab the first element and print its value
items["C"][1].value

39

In [19]:
# 4.Use enumerate to loop through it
for index, cell in enumerate(items["C"], start=1):
    print(f"C{index} -> {cell.value}")

C1 -> Price
C2 -> 39
C3 -> 52
C4 -> 12
C5 -> 35
C6 -> 18
C7 -> 18
C8 -> 25
C9 -> 18
C10 -> 8
C11 -> 8
C12 -> 35
C13 -> 20
C14 -> 28
C15 -> 37
C16 -> 14
C17 -> 5
C18 -> 10
C19 -> 25
C20 -> 3

In [21]:
# Or we can use range() function!
for index in range(1, items.max_row+1):
    print(f"C{index}", items[f"C{index}"].value)

C1 Price
C2 39
C3 52
C4 12
C5 35
C6 18
C7 18
C8 25
C9 18
C10 8
C11 8
C12 35
C13 20
C14 28
C15 37
C16 14
C17 5
C18 10
C19 25
C20 3

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)