#### ‚Ä¢ Table of the content

1. [Enumerate Function](#1)
2. [Previous Session](#1-2)
3. [Using enumerate( ) Function](#1-3)
4. [A Little Bit Imporvement](#1-4)
5. [Looping Over Iterables of Different Sizes](#1-5)
6. [Start Argument in enumerate( )](#1-6)
7. [More Info (Follow Me on LinkedIn)](#end)
---

<a name='1'></a>
## ‚Ä¢ Enumerate Function

üî∏ The <span style="font-family:Consolas;color:green;font-weight:bold;">enumerate</span>( ) function returns both the ***index*** and ***item*** of each in an iterable as it loop through.

In [1]:
items = ['Belt', 'Shirt', 'Pants','Dress', 'Bracelet']

In [2]:
prices = [5.99, 7.99, 10.99, 20.99, 9.99, 99.99]

In [3]:
inventory = [10, 14, 10, 15, 8, 27]

<a name='1-2'></a>
### ‚Ä¢ Previous Session ...

üî∏ From the previous session we learned we could **loop over indices** and use them to grab out the item within an iterable or other iterables of the same length!

In [6]:
product_values = []

for i in range(len(inventory)):
    product_values.append(round(inventory[i] * prices[i], 2))
    
print('Done!')

Done!

In [7]:
product_values

[59.9, 111.86, 109.9, 314.85, 79.92, 2699.73]

In [8]:
sum(product_values)

3376.16

<a name='1-3'></a>
### ‚Ä¢ Using enumerate(iterable) Function

üî∏ But now that we know about <span style='color:darkgreen;font-family:consolas;font-weight:bold;'>enumerate</span>( ) function, we can use it to create the **indices** and its **corresponding items** within an iterable as we loop through.

In [9]:
inventory

[10, 14, 10, 15, 8, 27]

In [10]:
# 1. Use 'inventory' as an input for enumerate()
enumerate(inventory)

In [11]:
# 2. Convert it to a list
list(enumerate(inventory))

[(0, 10), (1, 14), (2, 10), (3, 15), (4, 8), (5, 27)]

In [15]:
# 3. Use enumerate( ) function with previous problem!
product_values = []

for index, value in enumerate(inventory):
    product_values.append(round(prices[index] * value, 2))
    
print('Done!')

Done!

In [16]:
product_values

[59.9, 111.86, 109.9, 314.85, 79.92, 2699.73]

In [17]:
sum(product_values)

3376.16

<a name='1-4'></a>
### ‚Ä¢ A Little Bit Improvement ...

üî∏ For readability purposes, it's recommended to save your calculations into a separate variable!

In [19]:
product_values = []

for index, price in enumerate(prices):
    product_value = round(inventory[index] * price, 2)
    product_values.append(product_value)

print('Done!')

Done!

In [20]:
product_values

[59.9, 111.86, 109.9, 314.85, 79.92, 2699.73]

<a name='1-5'></a>
### ‚Ä¢ Looping Over Iterables of Different Sizes

üî∏ What happens if one of the lists was **shorter** than the other?

In [23]:
inventory = [10, 14, 10, 15, 8, 27] # 6 members ‚Üí last index = 5

In [24]:
prices = [5.99, 7.99, 10.99, 20.99, 9.99] # 5 members ‚Üí last index = 4

üî∏ Complete the *for loop body* and run the cell to see the result!

In [26]:
for index, value in enumerate(inventory):
    print('index:', index, prices[index], value)

index: 0 5.99 10
index: 1 7.99 14
index: 2 10.99 10
index: 3 20.99 15
index: 4 9.99 8

IndexError: list index out of range

<div class="alert alert-danger">
    <strong></strong>
    üë®üèª‚Äçüè´ Did you see that?<br><span style="font-family:Consolas;font-weight:bold;">IndexError: List index out of range</span>
<br>
    üë®üèª‚Äçüè´ It's a common error that beginners will face during working with loops and multi-iterables.
</div>

<a name='1-6'></a>
### ‚Ä¢ Start Argument in enmuerate(iterable, start=0 )

üî∏ <span style='font-family:consolas;'>enumerate(iterable, start=0)</span> accepts another optional argment, which is called **start**. Normally the first index of everything is considered **ZERO** by Python. In some cases you need to change this default behaviour. In that situation you can pass <span style='color:blue;font-family:consolas;'>start = a number you want</span> as the first index to count!

In [27]:
numbers = ['one', 'two', 'three', 'four', 'five']

In [28]:
list(enumerate(numbers))

[(0, 'one'), (1, 'two'), (2, 'three'), (3, 'four'), (4, 'five')]

In [31]:
list(enumerate(numbers, start=1))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)