#### ‚Ä¢ Table of the content

1. [Loop Basics & Looping Over Items](#1)
2. [Euro to USD Conversion](#2)
3. [Rate Average Calculation](#3)
4. [More Info (Follow Me on LinkedIn)](#end)
---

<a name="1"></a>
## ‚Ä¢ Loop Basics & Looping Over Items

üî∏ **Loops** are just a *block of code* repeated until a given condtion is met. **Loops help us preventing to repeat ourselves**.

In [1]:
exchange_rate = 1.08 # 1 Euro ‚âà 1.08 U.S. dollar (May 2024)

euro_prices = [5.99, 7.99, 10.99, 20.99, 9.99]

# Without 'for' loop:
usd_prices = [round(euro_prices[0]*exchange_rate, 2),
              round(euro_prices[1]*exchange_rate, 2),
              round(euro_prices[2]*exchange_rate, 2),
              round(euro_prices[3]*exchange_rate, 2),
              round(euro_prices[4]*exchange_rate, 2)]

In [2]:
usd_prices

[6.47, 8.63, 11.87, 22.67, 10.79]

---
<a name="2"></a>
### ‚Ä¢ Euro To USD Conversion

üî∏ Use **for** loop to iterate through the prices in `euro_prices` then convert it to U.S. dollar.

In [10]:
exchange_rate = 1.08 # 1 Euro ‚âà 1.08 U.S. dollar (May 2024)

euro_prices = [5.99, 7.99, 10.99, 20.99, 9.99]
usd_prices = []

# Use 'for' loop here:
for price in euro_prices:
    usd_prices.append(round(price * exchange_rate, 2))

In [11]:
usd_prices

[6.47, 8.63, 11.87, 22.67, 10.79]

---
<a name="3"></a>
### ‚Ä¢ Rate Average Calculation

üî∞ In the following cell, we have a list (`customer_rates`) including a **customer rates** for different products of our website. 

üëâüèº **Situation** : 

üî∏ We need to grab the **numeric part** of each item in the list, then store them into a **new variable** and finally calculate the **average** of all rates existing in the new list.

üìã **Instructions**:

1. Grab the numeric part of one elment of `customer_rates`

2. Convert it to an integer number

3. Repeat this process for all element in `customer_rates`

4. Store the result into a separate variable

5. Calculate the average of all rates!

In [12]:
customer_rates = ['5 ‚≠ê', '3 ‚≠ê',
                  '5 ‚≠ê', '2 ‚≠ê',
                  '4 ‚≠ê', '4 ‚≠ê',
                  '3 ‚≠ê', '4 ‚≠ê',
                  '4 ‚≠ê', '2 ‚≠ê',
                  '5 ‚≠ê', '5 ‚≠ê',
                  '4 ‚≠ê', '3 ‚≠ê']

In [13]:
customer_rates

['5 ‚≠ê',
 '3 ‚≠ê',
 '5 ‚≠ê',
 '2 ‚≠ê',
 '4 ‚≠ê',
 '4 ‚≠ê',
 '3 ‚≠ê',
 '4 ‚≠ê',
 '4 ‚≠ê',
 '2 ‚≠ê',
 '5 ‚≠ê',
 '5 ‚≠ê',
 '4 ‚≠ê',
 '3 ‚≠ê']

### ‚Ä¢ Let's Start Small

üî∏ Grab one element from the list and extract its number and turn it to an integer type

In [25]:
rate = int(customer_rates[3][0])

In [26]:
rate

2

In [35]:
# 1. Loop through all rates in 'customer_rates'
# 2. Grab the integer portion of the string
# 3. Store each of them in a list called 'all_rates'

all_rates = []

for rate in customer_rates:
    all_rates.append(int(rate[0]))

In [36]:
all_rates

[5, 3, 5, 2, 4, 4, 3, 4, 4, 2, 5, 5, 4, 3]

In [39]:
# 1. Calculate the average of 'all_rates'
rate_average = sum(all_rates) / len(all_rates)

In [41]:
round(rate_average, 2)

3.79

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)