## ‚Ä¢ Different Cities, Different Taxes

üî∏ We forgot to account for the fact that **different cities** have **different tax rates**, so we need to modify our loop previously built.

üî∏ We have a list containing location of each transaction. For the index **`i=n`** The transaction **`subtotals[i]`** took place at **`locations[i]`**

In [1]:
subtotals = [400.99, 115.6, 250.71, 430.33, 250.5, 370.9, 252.2]

In [2]:
locations = ['Brussels', 'Madrid', 'Bremen',
             'Basel', 'Turin', 'Espoo', 'Paris']

üéØ The following **tax rate** should be applied for each location:

* [Madrid](https://en.wikipedia.org/wiki/Madrid) : **12.5%**
* [Basel](https://en.wikipedia.org/wiki/Basel) : **8.1%**
* [Turin](https://en.wikipedia.org/wiki/Turin) : **22%**
* Other cities : **7%**

In [6]:
# Start your code here:

taxes = []
totals = []

for i, subtotal in enumerate(subtotals):
    city = locations[i]
    if city == 'Madrid':
        tax = round(subtotal * 0.125, 2)
        
    elif city == 'Basel':
        tax = round(subtotal * 0.081, 2)
        
    elif city == 'Turin':
        tax = round(subtotal * 0.22, 2)
        
    else:
        tax = round(subtotal * 0.07, 2)
          
    total = round(subtotal + tax, 2)
    
    taxes.append(tax)
    totals.append(total)
    
print('Done!')

Done!

In [7]:
taxes

[28.07, 14.45, 17.55, 34.86, 55.11, 25.96, 17.65]

In [8]:
totals

[429.06, 130.05, 268.26, 465.19, 305.61, 396.86, 269.85]

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)