#### • Table of the content

1. [List Basics](#1)
2. [list() Function](#1-1)
3. [Membership Operators](#1-2)
4. [Indexing in List Element](#1-3)
5. [IndexError](#1-4)
6. [Manipulation on a List Element](#1-5)
7. [List Slicing](#1-6)
8. [List Unpacking](#1-7)
9. [More Info (Follow Me on LinkedIn)](#end)

<a name="1"></a>
## 1. List Basics

🔸 [Lists](https://www.w3schools.com/python/python_lists.asp) are iterable data types that can handle storing multiple values within themselves.

In [1]:
# 1. Use [] to define an empty 'list' in Python
customer_ids = []

customer_ids

[]

In [2]:
# 2. Use list() to define an empty 'list' in Python
empty_list = list()

empty_list

[]

<a name="1-1"></a>
### 1.1. list( ) Function

🔸 We can use **list( )** function to create *list* from other data types like string, tuple and ... (if possible!)

In [4]:
# 3. Use list() to create a list from the string of 'izlearn'
my_str = 'izlearn'
list(my_str), type(list(my_str))

(['i', 'z', 'l', 'e', 'a', 'r', 'n'], list)

In [5]:
# 4. Use list() to create a list from the tuple 0f (7, 77, 777)
my_tup = (7, 77, 777)
list(my_tup), type(list(my_tup))

([7, 77, 777], list)

🔸 You can store *different data types* in a list but **most of the time** we store data of a specific type in a list. For example; in the list below we populated `customer_ids` with different *strings*. (all elements are strings)

In [6]:
# 5. Lists can store many values!
customer_ids = ['c00001', 'c00002', 'c00003', 'c00004', 'c00005']
customer_ids

['c00001', 'c00002', 'c00003', 'c00004', 'c00005']

<a name="1-2"></a>
### 1.2. Membership Operators with Lists

To check if there is an `item` in a list, we can use **in** and **not in** as membership operators.

In [7]:
# 6. Check if 'c00004' (a customer id) is in 'customer_ids'
'c00004' in customer_ids

True

In [8]:
# 7. Check if 'c00010' (a customer id) is in 'customer_ids'
'c00010' in customer_ids

False

<a name="1-3"></a>
### 1.3. Indexing in List's Element

🔸 To access items stored in a list, we can use their index.

🔸 **Remember** the first element in Python has the index of **ZERO**.

In [10]:
# 8. Grab the 'first' element from the 'customer_ids'
customer_ids[0]

'c00001'

In [14]:
# 9. Grab the 'last' element from the 'customer_ids'
customer_ids[-1]

'c00005'

<a name="1-4"></a>
### 1.4. IndexError (list index out of range)

🔸 If you provide an index exceeding the range of a list, you'll get an [**IndexError**](https://rollbar.com/blog/python-indexerror/#:~:text=The%20IndexError%3A%20list%20index%20out,of%20elements%20in%20the%20list.). For example; in the above list (customer_ids) the index of the last element is **four** and if you provide the index of **five** to extract the **sixth** element, which does not exists, <u>you'll get an IndexError</u>.

In [17]:
# 10. Grab the 'sixth' element from 'customer_ids'
customer_ids[5]

IndexError: list index out of range

<a name="1-5"></a>
### 1.5. Manipulation on a List Element

🔸 We can grab one or more elements from a list and perform some manipulation on it.

In [22]:
# 11. Use slicing & grab the first element and change it to → integer number
number = int(customer_ids[0][1:])

number

1

In [27]:
# 12. Use strip() method & grab the last element and change it to → integer number
number = int(customer_ids[-1].strip('c'))

number

5

<a name="1-6"></a>
### 1.6. List Slicing

🔸 Using slicing we're able to grab multiple elements out of a list!

🔸 **Slicing** and **indexing** are two critical concept to master for *data analysis*.

```python
your_list[start_index : stop_index : step_size]
```

In [29]:
# 13. Grab 'c00001', 'c00002', 'c00003' from 'customer_ids'
customer_ids[0:3]

['c00001', 'c00002', 'c00003']

In [32]:
# 14. Grab 'c00001', 'c00003', 'c0005' from 'customer_ids'
customer_ids[::2]

['c00001', 'c00003', 'c00005']

In [34]:
# 15. Inverse the 'customer_ids' using 'negative step'
customer_ids[::-1]

['c00005', 'c00004', 'c00003', 'c00002', 'c00001']

<a name="1-7"></a>
### 1.7. List Unpacking

🔸 List elements can be **unpacked** into one **individual variables**. In the following cell you can see some examples of unpacking in Python!

In [35]:
# 16. List unpacking
customer_ids

['c00001', 'c00002', 'c00003', 'c00004', 'c00005']

In [37]:
# 17. Unpack customer_ids into five different variables!
a, b, c, d, e = customer_ids

print(a, b, c, d, e)

c00001 c00002 c00003 c00004 c00005

In [39]:
# 18. Unpack customer_ids into two variables
a, *b = customer_ids

print(a, b)
print(type(a), type(b))

c00001 ['c00002', 'c00003', 'c00004', 'c00005']
<class 'str'> <class 'list'>

---
<a name="end"></a>
### Congrats! 

🔥 Let's go to the next session.

📝 This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

🌐 Visit your website for more courses [izlearn.ir](https://izlearn.ir)