#### ‚Ä¢ Table of the content

1. [Defining Tuples in Python](#1)
2. [Operations on Tuple](#2)
3. [Tuple Indexing](#2-1)
4. [Tuple Slicing](#2-2)
5. [Membership Check in Tuples](#2-3)
6. [Tuples Are Immutable](#2-4)
7. [Tuple Unpacking](#3)
8. [A Bit of Practice](#4)
9. [More Info (Follow Me on LinkedIn)](#end)
---

## ‚Ä¢ Tuples in Python

<a name='1'></a>
### ‚Ä¢ Defining Tuples in Python

üî∏ Using parenthesis **( )**, we're able to create **tuples** in Python!

‚Ä¢ You need to separate items by **commas** or else you'll get <span style='color:darkred;font-weight:bold;font-family:consolas;'>SyntaxError</span>.

In [3]:
# 1. Create a tuple containing 7, 14, 21, 28 
# 1.1 Assing it to 'my_tuple'

my_tuple = (7, 14, 21, 28)

In [4]:
# 2. Return 'my_tuple'
my_tuple

(7, 14, 21, 28)

In [5]:
# 3. Return its type
type(my_tuple)

tuple

üî∏ You can even **omit the parenthesis** and just separate the items by **commas**

In [6]:
# 4. Create a tuple containing 7, 14, 21, 28 (without parenthesis)
my_tuple = 7, 14, 21, 28

In [7]:
my_tuple

(7, 14, 21, 28)

In [8]:
type(my_tuple)

tuple

üß† **Question** : If you want to create a **one-member tuple**, how would you do that in Python?

‚Ä¢ Because we use parenthesis in math operations, we need to use an **extra comma** to turn it to a tuple.

In [15]:
# 5. Create a one-member tuple

one_member_tuple = (1,)

In [16]:
one_member_tuple

(1,)

In [17]:
type(one_member_tuple)

tuple

<a name='2'></a>
### ‚Ä¢ Operations on Tuples

üî∏ Many operations that work on list, is applicable on tuples. These operations are : **indexing**, **slicing**, **len( )**, **sum( )**, **min( )** and **max( )**.

In [18]:
price_tuple = ('$3.99', '$5.99', '$30.99', '$7.99')

In [19]:
price_tuple

('$3.99', '$5.99', '$30.99', '$7.99')

<a name='2-1'></a>
### ‚Ä¢ Tuple Indexing

üî∏ To grab an element from a tuple, just like lists, we can use `index` operator.

```python
tuple_name[desired_index]
```

In [20]:
# 6. Grab the second item from 'price_tuple'
price_tuple[1]

'$5.99'

<a name='2-2'></a>
### ‚Ä¢ Tuple Slicing

üî∏ If you need to grab multiple items out of a tuple, you can use **slicing** just as goes with lists.

In [23]:
# 7. Slice the tuple from the second element all the way to the end
price_tuple[1:]

('$5.99', '$30.99', '$7.99')

<a name='2-3'></a>
### ‚Ä¢  Membership Check in Tuples

üî∏ If you need to check if an item exists in a tuple, you can use membership operators like <span style='color:green;font-family: consolas;font-weight:bold;'>in</span> and <span style='color:green;font-family: consolas;font-weight:bold;'>not in</span> operators.

In [24]:
# 8. Check if '$5.99' exists in 'price_tuple'
'$5.99' in price_tuple

True

<a name='2-4'></a>
### ‚Ä¢ Tuples Are Immutable 

üî∏ Once you attempt to change (add, remove) a tuple, a <span style="font-family:Consolas;color:rgb(186,33,33);font-weight:bold;">TypeError</span> raises saying that:<br><span style="font-family:Consolas;">'tuple' object does not support item assignment</span>.

In [27]:
# 9. Change the price '$5.99' to '$10.55'
# index ‚Üí 1
price_tuple[1] = '$10.55'

TypeError: 'tuple' object does not support item assignment

### .append( ) Method

üî∏ And again if you use list methods that changing the original list with tuples, you'll get <span style="font-family:Consolas;color:rgb(186,33,33);font-weight:bold;">AttributeError</span> raises saying that: <br><span style="font-family:Consolas;">'tuple' object has no attribute 'append'</span>

In [28]:
# 10. add '$9.99' to 'price_tuple'
# Use .append( ) list method
price_tuple.append('$9.99')

AttributeError: 'tuple' object has no attribute 'append'

üî∏ In order to **handle this**, we can change our **tuple** to a **list** using <span style="font-family:Consolas;color:rgb(0,136,0);font-weight:bold;">list</span>( ) function. 

(type conversion! Do you remember?)

In [31]:
# 11. Use list() to convert list to tuple
# 11.1 Create new variable ‚Üí 'price_list'
price_list = list(price_tuple)

In [32]:
price_list

['$3.99', '$5.99', '$30.99', '$7.99']

In [33]:
# 12. Use .append() to add '$9.99' into the list
price_list.append('$9.99')

In [34]:
price_list

['$3.99', '$5.99', '$30.99', '$7.99', '$9.99']

In [36]:
# 13. Use tuple() to convert list to tuple
price_tuple = tuple(price_list)

In [37]:
# 14. You can use len() and ... on tuples
len(price_tuple)

5

<a name='3'></a>
### ‚Ä¢ Tuple Unpacking

üî∏ To unpack a tuple we need to assign the tuple to the same number of variables as there are items in the tuple.

In [39]:
price_tuple = ('$3.55', '$99.99', '$149.99')

In [40]:
# 15. Unpack 'price_tuple' into separate variables
price1, price2, price3 = price_tuple

In [41]:
print(price1, price2, price3)

$3.55 $99.99 $149.99

<a name='4'></a>
### ‚Ä¢ A Bit of Practice

In [50]:
# 16. Some operatoins on price_tuple[1]
price = float(price_tuple[1].strip('$'))

round(price - round(float(price_tuple[1].strip('$')) * .25, 2), 1)

75.0

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)