## ‚Ä¢ Customer Promos

üî∏ We're working on some fun promotional for our next big sale.

üî∏ We want to generate a few different **sequences of lucky numbers** to choose our lucky customers. 

üî∏ They will receive a `coffee mug`, `keychain` and `beanie`!

---

üî∞ please generate a sequence of **even integers** between `1` and `10`. They'll receive `coffee mugs`. 

üî∞ Start with the **SECOND** customer.

In [8]:
# Even-numbered customers
print(list(range(2,11,2)))

[2, 4, 6, 8, 10]

üî∞ Now generate a sequence of **odd integers** from `1` and `10`. They will get `keychains`.

üî∞ Start with the **FIRST** customer.

In [10]:
# Odd-numbered customers
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

üî∞ Finally, **every 7th customer** in our first `100` visitors will receive `beanies`. 

üî∞ Generate a sequence of integers containing `multiple of 7` from `1` to `100`. 

üî∞ Start with the **SEVENTH** customer.

In [11]:
# Every 7th customer
print(list(range(7,101,7)))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

‚úåüèº **EXTRA Work**

üî∏ In the following cells I just want to show you we can use the above *generated* numbers as **indices** to extract the customers' id from the `customer_list`. 

üî∏ I used [for](https://www.w3schools.com/python/python_for_loops.asp) loop to iterate over generated numbers within **every_7th_customer** list. 

üî∏ Don't worry about the syntax of the **for loop**, we will learn about it in the upcoming chapter.

In [4]:
customers_list = [
    
    'c00005', 'c00007', 'c00009', 'c00010', 'c00014',
    'c00013', 'c00006', 'c00044', 'c00034', 'c00053',
    'c00022', 'c00030', 'c00021', 'c00041', 'c00039',
    'c00023', 'c00017', 'c00019', 'c00077', 'c00078',
    'c00029', 'c00031', 'c00042', 'c00041', 'c00045',
    'c00065', 'c00100', 'c00099', 'c00074', 'c00076',
    'c00049', 'c00048', 'c00051', 'c00052', 'c00053',
    'c00070', 'c00065', 'c00066', 'c00033', 'c00034',
    'c00085', 'c00086', 'c00058', 'c00050', 'c00051',
    'c00020', 'c00077', 'c00020', 'c00013', 'c00012',
    'c00011', 'c00001', 'c00006', 'c00090', 'c00080',
    'c00035', 'c00072', 'c00060', 'c00091', 'c00069',
    'c00123', 'c00200', 'c00068', 'c00059', 'c00111',
    'c00110', 'c00008', 'c00109', 'c00108', 'c00201',
    'c00205', 'c00202', 'c00405', 'c00039', 'c00067',
    'c00119', 'c00117', 'c00404', 'c00403', 'c00270',
    'c00289', 'c00253', 'c00222', 'c00230', 'c00300',
    'c00313', 'c00314', 'c00123', 'c00124', 'c00414',
    'c00291', 'c00292', 'c00440', 'c00441', 'c00444',
    'c00555', 'c00321', 'c00333', 'c00125', 'c00225'    
]

In [5]:
every_7th_customer = range(7, 100, 7)

In [6]:
for ??? in ???:
    pass

SyntaxError: invalid syntax (2127878379.py, line 1)

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/).Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on the LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)