#### • Table of the content

1. [Dictionary Basics](#1)
2. [Keys Can't Be Undefined Variables](#1-1)
3. [Accessing Values](#1-2)
4. [Lists As Values in a Dictionary](#1-3)
5. [KeyError](#1-4)
6. [Integers As Keys](#1-5)
7. [Membership Check](#1-6)
8. [Looping Through a Dictionary](#1-7)
9. [Modifying Dictionaries](#1-8)
10. [More Info (Follow Me on LinkedIn)](#end)
---

<a name="1"></a>
## • Dictionary Basics

🔸 If you want to create a [dictionary](https://www.w3schools.com/python/python_dictionaries.asp) in Python, you need to use **{ }**. 

🔸 You can create an **empty dictionary** eihter using **{ }** or Python's fuction called **dict( )**

```python
empty_dict = {}

empty_dict = dict()
```

In [2]:
# 1. Create a dictionary:
# 1.1 The kyes are → 'belt', 'shirt', 'pants', 'dress'
# 1.2. The values are → 8.0, 13.0, 18.0 and [99.99, 80.99]
items_prices = {
    'belt': 8.0,
    'shirt': 13.0,
    'pants': 18.0,
    'dress': [99.99, 80.99]
}

In [3]:
items_prices

{'belt': 8.0, 'shirt': 13.0, 'pants': 18.0, 'dress': [99.99, 80.99]}

<a name="1-1"></a>
### • Keys Can't Be Undefined Variables

🔸 **Beginners** often forget to use a **common datatype**! (They use an undefined variable)

In [5]:
belt, shirt = 'belt', 'shirt'
my_cart = {
    belt: 8.0,
    shirt: 13.0
}

In [6]:
my_cart

{'belt': 8.0, 'shirt': 13.0}

<a name="1-2"></a>
### • Accessing Values

🔸 You can use an existing **key** to return its **corresponding value**.

In [8]:
# 2. Use 'shirt' to access its value
items_prices['shirt']

13.0

In [9]:
print(f"The price of shirt is €{items_prices['shirt']}.")

The price of shirt is €13.0.

<a name="1-3"></a>
### • Lists As Vaues in a Dictionary

🔸 Dictionary values can be **lists**, so to access **individual elements** in that list:

1. Retrieve the **list** by looking up its **key**

2. Retrieve the **list elementss** by using its **inde**

🔑 → **list** → **indexing** → **list item**

In [10]:
items_prices

{'belt': 8.0, 'shirt': 13.0, 'pants': 18.0, 'dress': [99.99, 80.99]}

In [11]:
# 3. Use 'dress' key to access its list
items_prices['dress']

[99.99, 80.99]

In [16]:
# 4. Use 'dress' key and 'indexing' to access an item
items_prices['dress'][0]

99.99

<a name="1-4"></a>
### • KeyError 

🔸 **KeyError** happens if you try to access a **key** that <u>doesn't exist</u> in a dictionary.

🔸 Most of the time [**typo**](https://dictionary.cambridge.org/dictionary/english/typo) can lead to this error.

In [21]:
# 5. Use 'boots' to access its value
items_prices['boots']

KeyError: 'boots'

<a name="1-5"></a>
### • Integers As Keys

🔸 Let's create a dictionary that have **integers as keys**.

🔸 Then try to access the **values** using the keys.

🔸 The syntax is similar to a list right? 😬

In [22]:
# 6. Create a dictionary → numbers_to_word
# 6.1. keys: 1, 2, 3, 4, 5
# 6.2 values: 'one', 'two', 'three', 'four', 'five'
numbers_to_word = {
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five'
}

In [23]:
numbers_to_word

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [28]:
# 7. Use 1 to access its value
numbers_to_word[1]

'one'

In [29]:
numbers = {
    '1': 'one',
    '2': 'two',
    '3': 'three',
    '4': 'four',
    '5': 'five'
}

In [30]:
numbers

{'1': 'one', '2': 'two', '3': 'three', '4': 'four', '5': 'five'}

In [32]:
# 8. Use '1' key to access its value
numbers['1']

'one'

<a name="1-6"></a>
### • Membership Check

🔸 Membership check operators (<span style="font-family:consolas;color:green;font-weight:bold;">in</span> and <span style="font-family:consolas;color:green;font-weight:bold;">not in</span>) also work with dictionary

🔸 They check whether the dictionary **has** the <span style="font-size:2rem;color:blue;">given key</span> or **not**! `(why key?)`

In [33]:
items_prices

{'belt': 8.0, 'shirt': 13.0, 'pants': 18.0, 'dress': [99.99, 80.99]}

In [34]:
# 9. Check if 'shirt' exists!
'shirt' in items_prices

True

In [35]:
# 10. Check if 'boots' exists!
'boots' in items_prices

False

In [36]:
# 11. Check if 8.0 exists!
8.0 in items_prices

False

<a name="1-7"></a>
### • Looping Through Dictionary

🔸 **By default** you can iterate over a dictionary <span style='font-size:2rem;color:blue;'>key</span> 

🔸 But later on in the course **we will learn how to loop through a dictionary values**!

In [38]:
# 12. Loop through 'items_prices'
# 12.1 Show its key and values
for key in items_prices:
    print(f"key: {key} -> value: {items_prices[key]}")

key: belt -> value: 8.0
key: shirt -> value: 13.0
key: pants -> value: 18.0
key: dress -> value: [99.99, 80.99]

<a name="1-8"></a>
### • Modifying Dictionaries

🔸 **Adding an Item** : use a **new key** and assign it a **new value**

🔸 **Updating a Value** : use an **existing key** and assign it a **new value**

🔸 **Removing an Item** : use a <span style='font-family:consolas;color:darkgreen;font-weight:bold;'>del</span> keyword to delete key-value pairs

#### • Adding a New Item

🔸 Add <span style="font-family:consolas;color:#BA2121;font-weight:bold;font-size:2rem;">boots</span> with the value of <span style="font-family:consolas;color:darkgreen;font-weight:bold;font-size:2rem;">30</span> to `items_prices`

In [40]:
# 13. Add 'boots' to the dictionary
items_prices['boots'] = 30

In [41]:
items_prices

{'belt': 8.0,
 'shirt': 13.0,
 'pants': 18.0,
 'dress': [99.99, 80.99],
 'boots': 30}

In [42]:
# 14. Check if 'boots' exists!
'boots' in items_prices

True

#### • Updating a Value

🔸 Apply **15%** discount to the price of <span style="font-family:consolas;color:#BA2121;font-weight:bold;font-size:2rem;">boots</span> in `items_prices` and <u>round the result to two decimals</u>.

In [44]:
# 14. Update 'boots' price → Apply 15% discount
items_prices['boots'] = round(items_prices['boots'] * 0.85, 2)

In [45]:
items_prices

{'belt': 8.0,
 'shirt': 13.0,
 'pants': 18.0,
 'dress': [99.99, 80.99],
 'boots': 25.5}

#### •Adding New Items Using a For Loop

🔸 Using a **for** loop we can add items from other iterables like **lists** to our dictionary.

In [48]:
items = ['backpack', 'cap']
prices = [50.99, 9.99]

# Start here:
for index, item in enumerate(items):
    items_prices[item] = prices[index]
    print(f"{item} added!")
    
print('Done!')

backpack added!
cap added!
Done!

In [49]:
items_prices

{'belt': 8.0,
 'shirt': 13.0,
 'pants': 18.0,
 'dress': [99.99, 80.99],
 'boots': 25.5,
 'backpack': 50.99,
 'cap': 9.99}

#### • Removing Key-Value Pairs

In [50]:
# 15. Remove 'dress' and its value
del items_prices['dress']

In [51]:
items_prices

{'belt': 8.0,
 'shirt': 13.0,
 'pants': 18.0,
 'boots': 25.5,
 'backpack': 50.99,
 'cap': 9.99}

---
<a name="end"></a>
### Congrats! 

🔥 Let's go to the next session.

📝 This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/).Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on the LinkedIn social media.  

🌐 Visit your website for more courses [izlearn.ir](https://izlearn.ir)